<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>

    <springProfile name="verbose">
        <logger name="io.cockroachdb.wan" level="DEBUG"/>
        <logger name="io.cockroachdb.SQL_TRACE" level="TRACE"/>
    </springProfile>

    <springProfile name="!verbose">
        <logger name="io.cockroachdb.wan" level="INFO"/>
        <logger name="io.cockroachdb.SQL_TRACE" level="INFO"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
