<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Whack-a-node</title>
</head>
<body>

<footer class="text-body-secondary py-5" th:fragment="footer">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">&copy; 2024 Whack-a-node &trade;</p>
        <p class="mb-0">New to CockroachDB? <a href="https://cockroachlabs.com">Visit the homepage</a>.</p>
    </div>
</footer>

</body>
</html>