<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Whack-a-node</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="~{fragments/theme :: theme}"></div>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <svg th:replace="~{fragments/symbols :: symbols}"></svg>

    <div class="py-5 bg-body-tertiary">
        <div class="container">
            <div class="alert alert-warning" role="alert"
                 th:unless="${cluster.isAvailable()}">
                <h4 class="alert-heading">Cluster is Unresponsive</h4>
                <p>Unable to retrieve cluster node status. This can be for several reasons:</p>
                <ul>
                    <li>There are not enough available nodes in the cluster, check the <a target="_blank" th:if="${adminUrl}" th:href="${adminUrl}">DB Console</a>.</li>
                    <li>You are using a CockroachDB self-hosted cluster and have not started any nodes. Run <code>./cluster-admin start-all</code>.</li>
                    <li>You are using a CockroachDB Cloud or Secure cluster and have no valid access token. Run <code>./cluster-admin login</code> to authenticate.</li>
                    <li>You are using the wrong credentials (connecting to a secure cluster in insecure mode, etc). Check <code>config/settings.sh</code>.</li>
                </ul>
                <p>This page will automatically refresh.</p>
            </div>

            <div th:each="locality: ${cluster.getLocalities(level)}">
                <h4 th:text="${locality}"></h4>
                <hr/>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div th:each="node: ${cluster.getNodes(locality)}">
                        <form th:action="@{'/node-action'}" method="post">
                            <input type="hidden" name="node-id" th:value="${node.getId()}"/>

                            <div class="col">
                                <div th:id="${'node-' + node.getId()}" class="card shadow-sm alert"
                                     th:classappend="${cluster.getCardClass(node.getNodeStatus())}">
                                    <svg class="bd-placeholder-img card-img-top"
                                         width=128 height=128 fill="currentColor"
                                         viewBox="0 0 16 16">
                                        <use th:href="${cluster.getCardImage(node.getNodeStatus())}"></use>
                                    </svg>

                                    <div class="card-body">
                                        <h5 class="card-title text-decoration-underline"
                                            th:text="${'Node ' + node.getId()}"></h5>
                                        <h5 class="card-subtitle mb-3"
                                            th:text="${node.getLocality()}"></h5>
                                        <h6 class="card-subtitle mb-3"
                                            th:text="${node.getNodeDetail().getSqlAddress().getAddressField()}"></h6>
                                        <h6 class="card-subtitle mb-3"
                                            th:text="${node.getNodeDetail().getBuildTag()}"></h6>
                                        <h6 class="card-subtitle mb-3 wan-ranges"
                                            th:text="${node.getNodeStatus().getRangeDetails()}"></h6>
                                    </div>

                                    <div class="card-footer">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div role="group">
                                                <a role="button" class="btn btn-sm btn-outline-success"
                                                   th:href="${node.getRequiredLink('self').href}">View</a>
                                                <input class="btn btn-sm btn-outline-danger" type="submit"
                                                       name="node-action" value="Disrupt">
                                                <input class="btn btn-sm btn-outline-info" type="submit"
                                                       name="node-action" value="Recover">
                                            </div>
                                            <div class="wan-spinner" style="display: none">
                                                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                                            </div>
                                            <small class="wan-last-active"
                                                   th:text="${node.getNodeStatus().getLastActive()}"></small>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- col -->
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- main -->
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

<script src="js/color-modes.js"></script>
<script src="js/main.js"></script>
<script src="js/dashboard.js"></script>

<!--
<a role="button" class="btn btn-sm btn-outline-danger"
   th:if="${node.hasLink('disrupt')}"
   th:href="${node.getRequiredLink('disrupt').href}">Disrupt</a>
<a role="button" class="btn btn-sm btn-outline-info disabled"
   th:unless="${node.hasLink('disrupt')}">Recover</a>
<a role="button" class="btn btn-sm btn-outline-info"
   th:if="${node.hasLink('recover')}"
   th:href="${node.getRequiredLink('recover').href}">Recover</a>
<a role="button" class="btn btn-sm btn-outline-info disabled"
   th:unless="${node.hasLink('recover')}">Recover</a>
-->
</body>
</html>
