<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Whack-a-node</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="~{fragments/theme :: theme}"></div>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <div class="py-2 rounded bg-body-tertiary">
        <div class="container-xl">
            <div class="table-responsive-xl">
                <canvas id="chart-container-p99" style="max-height: 300px"></canvas>
                <hr/>
                <canvas id="chart-container-tps" style="max-height: 300px"></canvas>
                <hr/>

                <div class="d-inline-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-sm btn-warning me-md-0" type="button"
                            data-bs-toggle="modal" data-bs-target="#confirmCancelAllModal">Cancel All
                    </button>
                    <button class="btn btn-sm btn-danger me-md-0" type="button"
                            data-bs-toggle="modal" data-bs-target="#confirmDeleteAllModal">Delete All
                    </button>
                    <button class="btn btn-sm btn-primary me-md-0" type="button"
                            data-bs-toggle="modal" data-bs-target="#addModal">Add Worker
                    </button>
                </div>

                <table class="table table-striped table-bordered table-hover table-sm caption-top">
                    <caption>List of workers</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>#</th>
                        <th>Remaining</th>
                        <th>P90</th>
                        <th>P99</th>
                        <th>P99.9</th>
                        <th>TpS</th>
                        <th>TpM</th>
                        <th>Success</th>
                        <th>Fails</th>
                        <th>Errors</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="workload, iStat : ${workloads}" th:id="${'row-' + workload.content.id}">
                        <td scope="row">
                            <a th:href="${workload.getRequiredLink('self').href}"
                               th:text="${workload.content.title}"></a>
                        </td>
                        <td th:text="${workload.content.id}"/>
                        <td th:text="${workload.content.remainingTime}" class="remaining-time"/>
                        <td th:text="${workload.content.metrics.p90}" class="p90"/>
                        <td th:text="${workload.content.metrics.p99}" class="p99"/>
                        <td th:text="${workload.content.metrics.p999}" class="p999"/>
                        <td th:text="${#numbers.formatDecimal(workload.content.metrics.opsPerSec,1,1)}"
                            class="opsPerSec"/>
                        <td th:text="${#numbers.formatDecimal(workload.content.metrics.opsPerMin,1,1)}"
                            class="opsPerMin"/>
                        <td th:text="${workload.content.metrics.success}" class="success"/>
                        <td th:text="${workload.content.metrics.transientFail}" class="transientFail"/>
                        <td th:text="${workload.content.metrics.nonTransientFail}" class="nonTransientFail"/>

                        <td scope="row">
                            <form method="POST" th:action="${workload.getRequiredLink('cancel').href}"
                                  th:if="${workload.hasLink('cancel')}">
                                <button type="submit" name="submit" value="value" class="btn btn-sm btn-warning">
                                    Cancel
                                </button>
                            </form>
                            <form method="POST" th:action="${workload.getRequiredLink('delete').href}"
                                  th:if="${workload.hasLink('delete')}">
                                <button type="submit" name="submit" value="value" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr id="aggregated-metrics">
                        <th>Avg / &Sigma;</th>
                        <th>-</th>
                        <th>-</th>
                        <th th:text="${aggregatedMetrics.p90}" class="p90">0</th>
                        <th th:text="${aggregatedMetrics.p99}" class="p99">0</th>
                        <th th:text="${aggregatedMetrics.p999}" class="p999">0</th>
                        <th th:text="${aggregatedMetrics.opsPerSec}" class="opsPerSec">0</th>
                        <th th:text="${aggregatedMetrics.opsPerMin}" class="opsPerMin">0</th>
                        <th th:text="${aggregatedMetrics.success}" class="success">0</th>
                        <th th:text="${aggregatedMetrics.transientFail}" class="transientFail">0</th>
                        <th th:text="${aggregatedMetrics.nonTransientFail}" class="nonTransientFail">0</th>
                        <th>-</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- Modals -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form th:action="@{/workload}" th:object="${form}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Workload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="workload-type" class="col-form-label">Type of workload:</label>
                        <select th:field="*{workloadType}" id="workload-type" class="form-select"
                                aria-label="Default select">
                            <option th:each="wt : ${T(io.cockroachdb.wan.web.api.model.WorkloadType).values()}"
                                    th:value="${wt}" th:text="${wt.displayValue}"></option>
                        </select>

                        <label for="workload-range" class="col-form-label">Number of workers (1-10):</label>
                        <input th:field="*{workloadCount}"
                               type="range" class="form-range" min="1" max="10" id="workload-range">
                    </div>

                    <div class="form-group">
                        <label for="workload-duration" class="col-form-label">Runtime duration (hh:mm):</label>
                        <input th:field="*{duration}"
                               th:value="${form.duration}"
                               id="workload-duration"
                               type="time"
                               class="form-control"
                               min="00:00"
                               max="23:59"
                               name="Duration" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmCancelAllModal" tabindex="-1" role="dialog">
    <form th:action="@{/workload/cancelAll}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to cancel all workers?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmDeleteAllModal" tabindex="-1" role="dialog">
    <form th:action="@{/workload/deleteAll}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete all workers?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script src="/webjars/chartjs/4.4.3/dist/chart.umd.js"></script>

<script type="importmap">
    {
        "imports": {
            "chart.js": "/webjars/chartjs/4.4.3/dist/chart.umd.js"
        }
    }
</script>

<script src="js/color-modes.js"></script>
<script src="js/main.js"></script>
<script src="js/workload.js"></script>

</body>
</html>


<!--                        th:href="@{/workload/cancel/{id}(id=${workload.content.id})}"-->
<!--                        th:href="${workload.getRequiredLink('cancel').href}"-->
<!--
                        <a role="button" id="workload-cancel"
                           th:if="${workload.hasLink('cancel')}"
                           class="btn btn-sm btn-warning">Cancel</a>
                        <a role="button" id="workload-delete"
                           th:if="${workload.hasLink('delete')}"
                           th:href="${workload.getRequiredLink('delete').href}"
                           class="btn btn-sm btn-danger">Delete</a>
-->
